html{
    background-color: black;
    font-family: 'Libre Baskerville', serif;
}

#meme{
   border: solid gold;
   border-width: 3px 5px;
   margin: 50px;
   width: 50%;
   margin-left: 25%;
}
h1{
    text-transform: uppercase;
    color: gold;
    font-size: 30pt;
    text-align: center;
    margin: 0px;
    margin-top: -50px;
}
h2{
    text-transform: capitalize;
    color: gold;
    text-align: center;    
    margin: 0px;
}
#puppy{
    width: 100%;    
}
